<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./Testing/bootstrap.php">
    <testsuites>
        <testsuite name="Test framework">
            <file>./Testing/TestWeatherController.php</file>
            <file>./Testing/TestRequest.php</file>
            <file>./Testing/TestAutoload.php</file>
            <file>./Testing/TestAccuWeatherModel.php</file>
            
            
        </testsuite>
    </testsuites>
</phpunit>